<meta charset="UTF-8">
<title>spaceCHF</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">

<!-- bootstrap header drop down -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

<style>
  body { padding-top:40px; }
  ul.nav {
  padding-left: 0px;
  background-color: hsl(204, 20%, 95%);
  text-align: center;
}
ul.nav > li {
  display: inline-block;
  padding: 10px 20px;
}
ul.nav > li:hover {
  background-color: #f8f8f8;
}
ul.nav > li > a {
  color: rgb(20, 16, 16);
  text-decoration: none;
}

</style>
<main>
  <ul class="nav">
    <li class="nav-item active">
      <a class="nav-link" href="/logindisplaypage">Login </a>
    </li>
    <li class="nav-item">
       <a class="nav-link" href="/register_display_page">Sign Up</a>
    </li>
  </ul>
</main>