<head>
  <meta name="description" content="an online support group for heart failure, heart attack and other heart disease patients at Emerson Hospital and other hospitals." /> 
  <meta charset="UTF-8" /> 
  <meta name="keywords" content="spacechf, space, chf, online, support group, heart attack, congestive, heart failure ,congestive heart failure" />
  <meta property="og:title" content="online support group for heart failure and other heart disease"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<main>
    <div class="row">
      <div class="col-sm-1">

      </div>  <!-- <div class="col-sm-2"> -->
    
      <div class="col-sm-6">
        <div class="well">
          <h3> home </h3>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="login-form">
          <h3>Login</h3>
          <form action="/login" method="GET">  
              <div class="form-group">
                  <label>Email</label>
                  <input type="text" class="form-control" placeholder="email" name="email" id="email">
               </div>
               <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" placeholder="Password" name="password" id="password">
               </div>
               <input type="submit" value="Login">
               <hr>
              <p><a href="/register_user"> New User</a></p>
              <p><a href="/sendmypassword"> Forgot my Password</a></p>
          </form> 
        </div> <!-- <div class="login-form"> -->
      </div>  <!-- <div class="col-sm-5"> -->
        
    </div> <!-- <div class="row"> -->
    </main>